<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Kenneth Huang - <span style="letter-spacing: 0.2rem;">黃鑫</span></span>
        <span class="d-none d-lg-block">
        <img style="opacity: 0.88;" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../assets/images/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">Kenneth
                <span class="text-primary">Huang</span>
            </h1>
            <div class="subheading mb-5">Auckland · New Zealand ·
                <a href="mailto:kennethhuang31@outlook.com">kennethhuang31@outlook.com</a>
            </div>
            <p class="lead mb-5">
                A well-experienced web developer with a variety of exciting projects.
                A strong passion for learning new skills and handling challenges.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kennethhuang31" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/kennethhuang31" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Front-end Developer</h3>
                    <div class="subheading mb-3">Gradspace Ltd</div>
                    <p>
                        •	Participate in requirements analysis discussion with Gradspace customers<br>
                        •	Develop the product and service as a front-end developer
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">December 2019 - Present</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Full Stack PHP Developer - Internship</h3>
                    <div class="subheading mb-3">PCA Express Pty Ltd</div>
                    <p>
                        •	Developed a price searching web system for delivery choices<br>
                        •	Designed an address selection and validation module for a shopping system
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">December 2018 - March 2019</span>
                </div>
            </div>

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">The University of New South Wales</h3>
                    <div class="subheading mb-3">Master of Information Technology</div>
                    <div></div>
                    <p></p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">February 2018 - December 2019</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Wuhan Polytechnic University </h3>
                    <div class="subheading mb-3">Bachelor of Software Engineering</div>
                    <p></p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">September 2013 - July 2017</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-sass"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-less"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-wordpress"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Mobile-First, Responsive Design</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Browser Testing &amp; Debugging</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum</li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>
                Apart from being a web developer,
                I enjoy most of my time being outdoors.
                I like to go camping with my friends on weekends.
            </p>
            <p class="mb-0">
                When forced indoors, I follow a number of Youtubers who focus on topics about
                the space, world history and unsolved puzzles. I am really a big fun of them.
            </p>
        </div>
    </section>

</div>
